In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
import sklearn.metrics
from sklearn.preprocessing import PolynomialFeatures

In [37]:
folder_dir = '../data/'
date_range = ["2012","2013","2014","2015","2016","2017"]

In [38]:
for i in range(len(date_range)):
    year = date_range[i]
    data_path = "MLB_" + year + "/MLB_PitchFX_" + year + "_RegularSeason.csv"
    year_data = pd.read_csv(filepath_or_buffer= folder_dir + data_path, header=0)
    
    if i == 0:
        data = year_data
    else:
        data = pd.concat([data,year_data])

data.head()

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,break_length,y,x0,on_1b,on_2b,on_3b,umpcall,outcome,offense_score,defense_score
0,2012-04-04,Marlins Park,1,top,johnsjo09,5,beltrca01,0,0,30.626,...,3.4,154.56,-1.902,NaN,NaN,NaN,X,Single,0,0
1,2012-04-04,Marlins Park,1,top,johnsjo09,6,hollima01,0,0,28.580,...,3.8,132.11,-2.052,beltrca01,NaN,NaN,S,NaN,0,0
2,2012-04-04,Marlins Park,1,top,johnsjo09,7,hollima01,0,1,31.294,...,3.7,125.20,-2.130,beltrca01,NaN,NaN,S,NaN,0,0
3,2012-04-04,Marlins Park,1,top,johnsjo09,8,hollima01,0,2,33.548,...,3.6,151.97,-2.100,beltrca01,NaN,NaN,B,NaN,0,0
4,2012-04-04,Marlins Park,1,top,johnsjo09,9,hollima01,1,2,24.925,...,7.1,144.20,-2.312,beltrca01,NaN,NaN,X,Flyout,0,0

In [ ]:
'''
TODO:
    -More exploratory data analysis
    -Feature engineering/Clean data/select features
    -Define target valuable   
    
'''

In [39]:
data = data.drop(['on_1b', 'on_2b', "on_3b",'y'], axis = 1)
data.shape

(3902210, 43)

In [ ]:
_ = plt.hist(data.isnull().sum())

In [ ]:
print(len(data.columns.values))
print(data.columns.values[0])
data.columns.values

In [ ]:
data.isnull().sum()

In [ ]:
data.dtypes

### Finding feature types

In [ ]:
g = data.columns.to_series().groupby(data.dtypes).groups
dtype_groups = {k.name: v for k, v in g.items()}
dtype_groups

In [ ]:
dtype_groups["int64"].values

In [ ]:
dtype_groups["float64"].values

In [ ]:
dtype_groups["object"].values

### Analyze the index

In [ ]:
_ = plt.plot(data.index)

### Converting "date" feature to datetime

In [40]:
data["date"]

0         2012-04-04
1         2012-04-04
2         2012-04-04
3         2012-04-04
4         2012-04-04
5         2012-04-04
6         2012-04-04
7         2012-04-04
8         2012-04-04
9         2012-04-04
10        2012-04-04
11        2012-04-04
12        2012-04-04
13        2012-04-04
14        2012-04-04
15        2012-04-04
16        2012-04-04
17        2012-04-04
18        2012-04-04
19        2012-04-04
20        2012-04-04
21        2012-04-04
22        2012-04-04
23        2012-04-04
24        2012-04-04
25        2012-04-04
26        2012-04-04
27        2012-04-04
28        2012-04-04
29        2012-04-04
             ...
715507    2017-10-01
715508    2017-10-01
715509    2017-10-01
715510    2017-10-01
715511    2017-10-01
715512    2017-10-01
715513    2017-10-01
715514    2017-10-01
715515    2017-10-01
715516    2017-10-01
715517    2017-10-01
715518    2017-10-01
715519    2017-10-01
715520    2017-10-01
715521    2017-10-01
715522    2017-10-01
715523    2017-10-01
715524    2017-10-01
715525    2017-10-01
715526    2017-10-01
715527    2017-10-01
715528    2017-10-01
715529    2017-10-01
715530    2017-10-01
715531    2017-10-01
715532    2017-10-01
715533    2017-10-01
715534    2017-10-01
715535    2017-10-01
715536    2017-10-01
Name: date, Length: 3902210, dtype: object

In [41]:
data["date"][0:5]

0    2012-04-04
1    2012-04-04
2    2012-04-04
3    2012-04-04
4    2012-04-04
Name: date, dtype: object

In [42]:
pd.to_datetime(data["date"][0:5])

0   2012-04-04
1   2012-04-04
2   2012-04-04
3   2012-04-04
4   2012-04-04
Name: date, dtype: datetime64[ns]

In [43]:
data["date"] = pd.to_datetime(data["date"])

In [44]:
data["date"][0:5]

0   2012-04-04
1   2012-04-04
2   2012-04-04
3   2012-04-04
4   2012-04-04
Name: date, dtype: datetime64[ns]

### sorting by pitcher, date and pitch_count in that order and reset index

In [45]:
data = data.sort_values(by = ["pitcher","date", "pitch_count"])
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,tfs_zulu,x,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score
516886,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,2012-09-28 01:18:53,116.74,2317.690,50.0,3.1,-2.01600,S,NaN,5,5
516887,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,2012-09-28 01:19:08,124.46,2354.990,50.0,3.8,-2.06800,S,NaN,5,5
516888,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,2012-09-28 01:19:26,121.03,1636.480,50.0,6.3,-1.96900,S,NaN,5,5
516889,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,2012-09-28 01:19:51,184.55,2380.220,50.0,3.8,-2.44100,B,NaN,5,5
516890,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,2012-09-28 01:20:07,132.19,1034.360,50.0,7.0,-2.35200,S,NaN,5,5
516891,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,2012-09-28 01:20:32,140.77,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5
516892,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,2012-09-28 01:21:06,138.20,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5
516893,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,2012-09-28 01:21:51,99.57,2030.960,50.0,7.2,-1.86600,S,NaN,6,6
516894,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,2012-09-28 01:22:02,151.93,1380.710,50.0,7.1,-2.22200,B,NaN,6,6
516895,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,2012-09-28 01:22:15,151.07,2230.470,50.0,3.2,-2.05100,B,NaN,6,6
516896,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,2012-09-28 01:22:29,123.61,2444.710,50.0,3.5,-2.20500,B,NaN,6,6
516897,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,2012-09-28 01:22:43,139.91,2406.090,50.0,4.0,-2.10100,S,NaN,6,6
516898,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,2012-09-28 01:22:58,91.85,685.319,50.0,8.2,-2.10100,S,NaN,6,6
516899,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,2012-09-28 01:23:28,114.16,1060.460,50.0,7.8,-2.25100,B,NaN,6,6
516900,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,2012-09-28 01:23:42,124.46,608.565,50.0,8.5,-2.14900,B,NaN,6,6
516901,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,2012-09-28 01:24:01,78.97,2162.930,50.0,3.2,-1.94000,S,NaN,6,6
516902,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,2012-09-28 01:24:29,124.46,2347.160,50.0,4.9,-2.10000,B,NaN,6,6
516903,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,2012-09-28 01:24:46,95.28,740.228,50.0,7.6,-2.34800,S,NaN,6,6
516904,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,2012-09-28 01:25:06,93.56,544.459,50.0,8.3,-2.13500,B,NaN,6,6
516905,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,2012-09-28 01:25:40,97.85,2471.440,50.0,3.4,-1.93800,S,NaN,6,6
516906,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,2012-09-28 01:26:02,109.87,2530.770,50.0,3.2,-1.96700,S,NaN,6,6
516907,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,2012-09-28 01:26:26,98.71,1150.470,50.0,7.0,-2.15800,B,NaN,6,6
516908,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,2012-09-28 01:26:51,103.00,1741.590,50.0,7.5,-1.82200,B,NaN,6,6
516909,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,2012-09-28 01:27:15,105.58,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6
225661,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,2013-06-08 21:06:54,97.85,2194.290,50.0,3.8,-1.88400,S,NaN,1,1
225662,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,2013-06-08 21:07:30,131.33,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1
225663,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,2013-06-08 21:07:50,80.69,1740.270,50.0,4.2,-1.88200,S,NaN,1,1
225664,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,2013-06-08 21:08:09,53.22,268.917,50.0,8.7,-1.86400,B,NaN,1,1
225665,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,2013-06-08 21:08:30,165.67,1605.190,50.0,5.0,-2.14700,B,NaN,1,1
225666,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,2013-06-08 21:09:01,100.43,2160.170,50.0,3.8,-1.87500,S,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605504,2017-09-04,Citi Field,5,bottom,NaN,7,cecchga02,0,2,22.8896,...,2017-09-04 19:01:29,65.67,71.723,50.0,8.5,-1.18323,X,Groundout,10,10
605505,2017-09-04,Citi Field,5,bottom,NaN,8,montera01,0,0,23.4115,...,2017-09-04 19:02:00,26.38,1366.960,50.0,5.8,-1.38595,B,NaN,10,10
605506,2017-09-04,Citi Field,5,bottom,NaN,9,montera01,1,0,27.2535,...,2017-09-04 19:02:14,119.49,1242.810,50.0,5.2,-1.66597,S,NaN,10,10
605507,2017-09-04,Citi Field,5,bottom,NaN,10,montera01,1,1,21.0937,...,2017-09-04 19:02:28,127.05,138.067,50.0,8.4,-1.69814,S,NaN,10,10
605508,2017-09-04,Citi Field,5,bottom,NaN,11,montera01,1,2,24.2979,...,2017-09-04 19:02:55,107.69,389.653,50.0,7.9,-1.56833,S,NaN,10,10
605509,2017-09-04,Citi Field,5,bottom,NaN,12,montera01,1,2,27.1019,...,2017-09-04 19:03:15,127.72,2031.100,50.0,4.2,-1.51372,S,NaN,10,10
605510,2017-09-04,Citi Field,5,bottom,NaN,13,reyesjo01,0,0,26.5163,...,2017-09-04 19:03:46,176.34,2021.990,50.0,6.1,-1.75387,B,NaN,10,10
605511,2017-09-04,Citi Field,5,bottom,NaN,14,reyesjo01,1,0,27.5483,...,2017-09-04 19:03:58,163.81,1945.100,50.0,7.9,-1.75156,B,NaN,10,10
605512,2017-09-04,Citi Field,5,bottom,NaN,15,reyesjo01,2,0,25.5934,...,2017-09-04 19:04:12,177.73,1445.600,50.0,5.0,-1.75100,B,NaN,10,10
605513,2017-09-04,Citi Field,5,bottom,NaN,16,reyesjo01,3,0,23.7400,...,2017-09-04 19:04:32,86.73,1125.450,50.0,5.3,-1.59396,B,NaN,10,10
605514,2017-09-04,Citi Field,5,bottom,NaN,17,aokino01,0,0,26.7718,...,2017-09-04 19:05:09,176.41,1932.870,50.0,4.5,-1.87963,B,NaN,10,10
605515,2017-09-04,Citi Field,5,bottom,NaN,18,aokino01,1,0,27.0266,...,2017-09-04 19:05:38,218.98,2125.100,50.0,4.0,-2.00321,B,NaN,10,10
605516,2017-09-04,Citi Field,5,bottom,NaN,19,aokino01,2,0,21.5874,...,2017-09-04 19:05:54,128.30,284.173,50.0,8.3,-1.83365,S,NaN,10,10
605517,2017-09-04,Citi Field,5,bottom,NaN,20,aokino01,2,1,21.2271,...,2017-09-04 19:06:08,97.77,433.378,50.0,8.2,-1.57730,B,NaN,10,10
605518,2017-09-04,Citi Field,5,bottom,NaN,21,aokino01,3,1,23.0385,...,2017-09-04 19:06:29,122.70,1416.690,50.0,5.7,-1.66372,S,NaN,10,10
605519,2017-09-04,Citi Field,5,bottom,NaN,22,aokino01,3,2,23.7280,...,2017-09-04 19:06:45,154.68,1757.490,50.0,5.2,-1.86074,S,NaN,10,10
605520,2017-09-04,Citi Field,5,bottom,NaN,23,aokino01,3,2,19.9039,...,2017-09-04 19:07:10,114.92,128.336,50.0,8.9,-1.84305,S,NaN,10,10
605567,2017-09-04,Citi Field,6,bottom,NaN,24,cabreas01,0,0,23.6057,...,2017-09-04 19:34:56,132.55,2115.400,50.0,6.7,-1.85887,S,NaN,10,10
605568,2017-09-04,Citi Field,6,bottom,NaN,25,cabreas01,0,1,22.7608,...,2017-09-04 19:35:20,102.21,427.823,50.0,8.1,-1.58343,X,Flyout,10,10
605569,2017-09-04,Citi Field,6,bottom,NaN,26,smithdo02,0,0,26.1148,...,2017-09-04 19:36:02,82.81,1830.300,50.0,5.8,-1.61207,B,NaN,10,10
605570,2017-09-04,Citi Field,6,bottom,NaN,27,smithdo02,1,0,24.6481,...,2017-09-04 19:36:19,80.05,1575.330,50.0,5.2,-1.62217,X,Groundout,10,10
605571,2017-09-04,Citi Field,6,bottom,NaN,28,plaweke01,0,0,25.8502,...,2017-09-04 19:37:01,186.57,2134.690,50.0,7.3,-1.79056,B,NaN,10,10
605572,2017-09-04,Citi Field,6,bottom,NaN,29,plaweke01,1,0,20.6098,...,2017-09-04 19:37:14,108.46,500.919,50.0,7.9,-1.66499,S,NaN,10,10
605573,2017-09-04,Citi Field,6,bottom,NaN,30,plaweke01,1,1,23.9294,...,2017-09-04 19:37:29,60.04,416.832,50.0,8.0,-1.49908,B,NaN,10,10
605574,2017-09-04,Citi Field,6,bottom,NaN,31,plaweke01,2,1,21.0098,...,2017-09-04 19:37:50,103.01,514.596,50.0,8.3,-1.51193,S,NaN,10,10
605575,2017-09-04,Citi Field,6,bottom,NaN,32,plaweke01,2,2,22.9577,...,2017-09-04 19:38:16,85.65,1007.020,50.0,6.1,-1.35697,B,NaN,10,10
605576,2017-09-04,Citi Field,6,bottom,NaN,33,plaweke01,3,2,21.1522,...,2017-09-04 19:38:39,116.16,162.377,50.0,8.9,-1.74291,X,Double,10,10
605577,2017-09-04,Citi Field,6,bottom,NaN,34,nimmobr01,0,0,27.7159,...,2017-09-04 19:39:40,183.54,2309.910,50.0,7.4,-1.75840,B,NaN,10,10
605578,2017-09-04,Citi Field,6,bottom,NaN,35,nimmobr01,1,0,21.4264,...,2017-09-04 19:39:59,132.52,482.511,50.0,8.0,-1.79977,X,Single,10,10
605579,2017-09-04,Citi Field,6,bottom,NaN,36,lagarju01,0,0,27.0323,...,2017-09-04 19:40:49,141.18,2132.350,50.0,5.5,-1.54967,X,Flyout,11,11

In [46]:
data = data.reset_index(drop = True)
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,tfs_zulu,x,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score
0,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,2012-09-28 01:18:53,116.74,2317.690,50.0,3.1,-2.01600,S,NaN,5,5
1,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,2012-09-28 01:19:08,124.46,2354.990,50.0,3.8,-2.06800,S,NaN,5,5
2,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,2012-09-28 01:19:26,121.03,1636.480,50.0,6.3,-1.96900,S,NaN,5,5
3,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,2012-09-28 01:19:51,184.55,2380.220,50.0,3.8,-2.44100,B,NaN,5,5
4,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,2012-09-28 01:20:07,132.19,1034.360,50.0,7.0,-2.35200,S,NaN,5,5
5,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,2012-09-28 01:20:32,140.77,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5
6,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,2012-09-28 01:21:06,138.20,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5
7,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,2012-09-28 01:21:51,99.57,2030.960,50.0,7.2,-1.86600,S,NaN,6,6
8,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,2012-09-28 01:22:02,151.93,1380.710,50.0,7.1,-2.22200,B,NaN,6,6
9,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,2012-09-28 01:22:15,151.07,2230.470,50.0,3.2,-2.05100,B,NaN,6,6
10,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,2012-09-28 01:22:29,123.61,2444.710,50.0,3.5,-2.20500,B,NaN,6,6
11,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,2012-09-28 01:22:43,139.91,2406.090,50.0,4.0,-2.10100,S,NaN,6,6
12,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,2012-09-28 01:22:58,91.85,685.319,50.0,8.2,-2.10100,S,NaN,6,6
13,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,2012-09-28 01:23:28,114.16,1060.460,50.0,7.8,-2.25100,B,NaN,6,6
14,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,2012-09-28 01:23:42,124.46,608.565,50.0,8.5,-2.14900,B,NaN,6,6
15,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,2012-09-28 01:24:01,78.97,2162.930,50.0,3.2,-1.94000,S,NaN,6,6
16,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,2012-09-28 01:24:29,124.46,2347.160,50.0,4.9,-2.10000,B,NaN,6,6
17,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,2012-09-28 01:24:46,95.28,740.228,50.0,7.6,-2.34800,S,NaN,6,6
18,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,2012-09-28 01:25:06,93.56,544.459,50.0,8.3,-2.13500,B,NaN,6,6
19,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,2012-09-28 01:25:40,97.85,2471.440,50.0,3.4,-1.93800,S,NaN,6,6
20,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,2012-09-28 01:26:02,109.87,2530.770,50.0,3.2,-1.96700,S,NaN,6,6
21,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,2012-09-28 01:26:26,98.71,1150.470,50.0,7.0,-2.15800,B,NaN,6,6
22,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,2012-09-28 01:26:51,103.00,1741.590,50.0,7.5,-1.82200,B,NaN,6,6
23,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,2012-09-28 01:27:15,105.58,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6
24,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,2013-06-08 21:06:54,97.85,2194.290,50.0,3.8,-1.88400,S,NaN,1,1
25,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,2013-06-08 21:07:30,131.33,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1
26,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,2013-06-08 21:07:50,80.69,1740.270,50.0,4.2,-1.88200,S,NaN,1,1
27,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,2013-06-08 21:08:09,53.22,268.917,50.0,8.7,-1.86400,B,NaN,1,1
28,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,2013-06-08 21:08:30,165.67,1605.190,50.0,5.0,-2.14700,B,NaN,1,1
29,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,2013-06-08 21:09:01,100.43,2160.170,50.0,3.8,-1.87500,S,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902180,2017-09-04,Citi Field,5,bottom,NaN,7,cecchga02,0,2,22.8896,...,2017-09-04 19:01:29,65.67,71.723,50.0,8.5,-1.18323,X,Groundout,10,10
3902181,2017-09-04,Citi Field,5,bottom,NaN,8,montera01,0,0,23.4115,...,2017-09-04 19:02:00,26.38,1366.960,50.0,5.8,-1.38595,B,NaN,10,10
3902182,2017-09-04,Citi Field,5,bottom,NaN,9,montera01,1,0,27.2535,...,2017-09-04 19:02:14,119.49,1242.810,50.0,5.2,-1.66597,S,NaN,10,10
3902183,2017-09-04,Citi Field,5,bottom,NaN,10,montera01,1,1,21.0937,...,2017-09-04 19:02:28,127.05,138.067,50.0,8.4,-1.69814,S,NaN,10,10
3902184,2017-09-04,Citi Field,5,bottom,NaN,11,montera01,1,2,24.2979,...,2017-09-04 19:02:55,107.69,389.653,50.0,7.9,-1.56833,S,NaN,10,10
3902185,2017-09-04,Citi Field,5,bottom,NaN,12,montera01,1,2,27.1019,...,2017-09-04 19:03:15,127.72,2031.100,50.0,4.2,-1.51372,S,NaN,10,10
3902186,2017-09-04,Citi Field,5,bottom,NaN,13,reyesjo01,0,0,26.5163,...,2017-09-04 19:03:46,176.34,2021.990,50.0,6.1,-1.75387,B,NaN,10,10
3902187,2017-09-04,Citi Field,5,bottom,NaN,14,reyesjo01,1,0,27.5483,...,2017-09-04 19:03:58,163.81,1945.100,50.0,7.9,-1.75156,B,NaN,10,10
3902188,2017-09-04,Citi Field,5,bottom,NaN,15,reyesjo01,2,0,25.5934,...,2017-09-04 19:04:12,177.73,1445.600,50.0,5.0,-1.75100,B,NaN,10,10
3902189,2017-09-04,Citi Field,5,bottom,NaN,16,reyesjo01,3,0,23.7400,...,2017-09-04 19:04:32,86.73,1125.450,50.0,5.3,-1.59396,B,NaN,10,10
3902190,2017-09-04,Citi Field,5,bottom,NaN,17,aokino01,0,0,26.7718,...,2017-09-04 19:05:09,176.41,1932.870,50.0,4.5,-1.87963,B,NaN,10,10
3902191,2017-09-04,Citi Field,5,bottom,NaN,18,aokino01,1,0,27.0266,...,2017-09-04 19:05:38,218.98,2125.100,50.0,4.0,-2.00321,B,NaN,10,10
3902192,2017-09-04,Citi Field,5,bottom,NaN,19,aokino01,2,0,21.5874,...,2017-09-04 19:05:54,128.30,284.173,50.0,8.3,-1.83365,S,NaN,10,10
3902193,2017-09-04,Citi Field,5,bottom,NaN,20,aokino01,2,1,21.2271,...,2017-09-04 19:06:08,97.77,433.378,50.0,8.2,-1.57730,B,NaN,10,10
3902194,2017-09-04,Citi Field,5,bottom,NaN,21,aokino01,3,1,23.0385,...,2017-09-04 19:06:29,122.70,1416.690,50.0,5.7,-1.66372,S,NaN,10,10
3902195,2017-09-04,Citi Field,5,bottom,NaN,22,aokino01,3,2,23.7280,...,2017-09-04 19:06:45,154.68,1757.490,50.0,5.2,-1.86074,S,NaN,10,10
3902196,2017-09-04,Citi Field,5,bottom,NaN,23,aokino01,3,2,19.9039,...,2017-09-04 19:07:10,114.92,128.336,50.0,8.9,-1.84305,S,NaN,10,10
3902197,2017-09-04,Citi Field,6,bottom,NaN,24,cabreas01,0,0,23.6057,...,2017-09-04 19:34:56,132.55,2115.400,50.0,6.7,-1.85887,S,NaN,10,10
3902198,2017-09-04,Citi Field,6,bottom,NaN,25,cabreas01,0,1,22.7608,...,2017-09-04 19:35:20,102.21,427.823,50.0,8.1,-1.58343,X,Flyout,10,10
3902199,2017-09-04,Citi Field,6,bottom,NaN,26,smithdo02,0,0,26.1148,...,2017-09-04 19:36:02,82.81,1830.300,50.0,5.8,-1.61207,B,NaN,10,10
3902200,2017-09-04,Citi Field,6,bottom,NaN,27,smithdo02,1,0,24.6481,...,2017-09-04 19:36:19,80.05,1575.330,50.0,5.2,-1.62217,X,Groundout,10,10
3902201,2017-09-04,Citi Field,6,bottom,NaN,28,plaweke01,0,0,25.8502,...,2017-09-04 19:37:01,186.57,2134.690,50.0,7.3,-1.79056,B,NaN,10,10
3902202,2017-09-04,Citi Field,6,bottom,NaN,29,plaweke01,1,0,20.6098,...,2017-09-04 19:37:14,108.46,500.919,50.0,7.9,-1.66499,S,NaN,10,10
3902203,2017-09-04,Citi Field,6,bottom,NaN,30,plaweke01,1,1,23.9294,...,2017-09-04 19:37:29,60.04,416.832,50.0,8.0,-1.49908,B,NaN,10,10
3902204,2017-09-04,Citi Field,6,bottom,NaN,31,plaweke01,2,1,21.0098,...,2017-09-04 19:37:50,103.01,514.596,50.0,8.3,-1.51193,S,NaN,10,10
3902205,2017-09-04,Citi Field,6,bottom,NaN,32,plaweke01,2,2,22.9577,...,2017-09-04 19:38:16,85.65,1007.020,50.0,6.1,-1.35697,B,NaN,10,10
3902206,2017-09-04,Citi Field,6,bottom,NaN,33,plaweke01,3,2,21.1522,...,2017-09-04 19:38:39,116.16,162.377,50.0,8.9,-1.74291,X,Double,10,10
3902207,2017-09-04,Citi Field,6,bottom,NaN,34,nimmobr01,0,0,27.7159,...,2017-09-04 19:39:40,183.54,2309.910,50.0,7.4,-1.75840,B,NaN,10,10
3902208,2017-09-04,Citi Field,6,bottom,NaN,35,nimmobr01,1,0,21.4264,...,2017-09-04 19:39:59,132.52,482.511,50.0,8.0,-1.79977,X,Single,10,10
3902209,2017-09-04,Citi Field,6,bottom,NaN,36,lagarju01,0,0,27.0323,...,2017-09-04 19:40:49,141.18,2132.350,50.0,5.5,-1.54967,X,Flyout,11,11

### Plotting features

In [ ]:
#Plotting all Int64 typed features
for i in range(len(dtype_groups["int64"].values)):
    plt.figure(i, 
               figsize=(10,5))
    plt.title(dtype_groups["int64"].values[i])
    plt.hist(data[dtype_groups["int64"].values[i]],
             rwidth = 0.5)

In [ ]:
#Plotting all Float64 typed features
for i in range(len(dtype_groups["float64"].values)):
    plt.figure(i, 
               figsize=(10,5))
    plt.title(dtype_groups["float64"].values[i])
    plt.hist(data[dtype_groups["float64"].values[i]].dropna(),
             rwidth = 0.5)

In [ ]:
_ = data[dtype_groups["object"][0]].value_counts().plot(kind="bar",
                                                    figsize=(20,10),
                                                    title = "Dates")

In [ ]:
#Plotting all Object typed features
for i in range(len(dtype_groups["object"].values)):
    print(dtype_groups["object"][i])
    _ = data[dtype_groups["object"][i]].value_counts().plot(kind="bar",
                                                       figsize=(20,10),
                                                       title = dtype_groups["object"][i])

In [ ]:
plt.hist(data['zone'])

In [ ]:
plt.hist(data['spin_dir'])

### Rolling_mean feature

In [47]:
#data = data.sample(n = 1000)
data.shape

(3902210, 43)

In [48]:
data.loc[data['pitch_type'] == "FF"]["start_speed"][0:5]

0    91.4
1    92.0
3    92.3
5    91.8
6    91.9
Name: start_speed, dtype: float64

In [65]:
roll_means = data.loc[data['pitch_type'] == "FF"].groupby('pitcher')['start_speed'].rolling(5).mean()
roll_means

pitcher
aardsda01  0            NaN
           1            NaN
           3            NaN
           5            NaN
           6          91.88
           9          91.82
           10         91.68
           11         91.34
           15         91.22
           16         91.10
           19         91.10
           20         91.18
           23         91.52
           24         91.36
           26         91.36
           28         91.50
           29         91.58
           30         91.62
           31         92.02
           32         92.26
           34         92.46
           37         92.20
           41         91.98
           42         92.04
           43         92.04
           46         91.82
           49         92.02
           52         91.90
           55         92.02
           56         91.72
                      ...
zychto01   3901841    93.86
           3901842    93.76
           3901846    93.50
           3901848    93.48
           3901849    93.80
           3901850    93.62
           3901852    93.64
           3901853    93.94
           3901855    93.74
           3901856    93.58
           3901857    93.64
           3901858    93.60
           3901859    93.44
           3901860    93.60
           3901862    93.64
           3901863    93.72
           3901866    93.12
           3901867    93.02
           3901870    92.60
           3901871    92.58
           3901874    92.38
           3901875    92.56
           3901876    92.08
           3901877    91.86
           3901879    92.10
           3901880    91.94
           3901881    91.76
           3901884    92.18
           3901886    92.48
           3901890    92.04
Name: start_speed, Length: 1334993, dtype: float64

check where the NaNs are to see if rolling averages use data from previous pitchers

In [66]:
roll_means.values

array([   nan,    nan,    nan, ...,  92.18,  92.48,  92.04])

In [72]:
nan_roll_means = pd.DataFrame(np.argwhere(np.isnan(roll_means.values)))
nan_roll_means

            0
0           0
1           1
2           2
3           3
4         764
5         765
6         766
7         767
8        2051
9        2052
10       2053
11       2054
12       2887
13       2888
14       2889
15       2890
16       3268
17       3269
18       3270
19       3271
20       3529
21       3530
22       3531
23       3532
24       4168
25       4169
26       4170
27       4171
28       4221
29       4222
...       ...
5185  1324832
5186  1324833
5187  1324925
5188  1324926
5189  1324927
5190  1324928
5191  1325290
5192  1325291
5193  1325292
5194  1325293
5195  1325608
5196  1325609
5197  1325610
5198  1325611
5199  1325866
5200  1325867
5201  1325868
5202  1325869
5203  1326240
5204  1326241
5205  1326242
5206  1326243
5207  1326247
5208  1326248
5209  1326249
5210  1326250
5211  1334676
5212  1334677
5213  1334678
5214  1334679

[5215 rows x 1 columns]

It seems like rolling mean is not using values from previous pitchers.

Take only the numeric index and discard the pitcher index:

In [52]:
roll_means = pd.DataFrame(roll_means)
roll_means

                   start_speed
pitcher
aardsda01 0                NaN
          1                NaN
          3                NaN
          5                NaN
          6              91.88
          9              91.82
          10             91.68
          11             91.34
          15             91.22
          16             91.10
          19             91.10
          20             91.18
          23             91.52
          24             91.36
          26             91.36
          28             91.50
          29             91.58
          30             91.62
          31             92.02
          32             92.26
          34             92.46
          37             92.20
          41             91.98
          42             92.04
          43             92.04
          46             91.82
          49             92.02
          52             91.90
          55             92.02
          56             91.72
...                        ...
zychto01  3901841        93.86
          3901842        93.76
          3901846        93.50
          3901848        93.48
          3901849        93.80
          3901850        93.62
          3901852        93.64
          3901853        93.94
          3901855        93.74
          3901856        93.58
          3901857        93.64
          3901858        93.60
          3901859        93.44
          3901860        93.60
          3901862        93.64
          3901863        93.72
          3901866        93.12
          3901867        93.02
          3901870        92.60
          3901871        92.58
          3901874        92.38
          3901875        92.56
          3901876        92.08
          3901877        91.86
          3901879        92.10
          3901880        91.94
          3901881        91.76
          3901884        92.18
          3901886        92.48
          3901890        92.04

[1334993 rows x 1 columns]

In [53]:
roll_means.index.values

array([('aardsda01', 0), ('aardsda01', 1), ('aardsda01', 3), ...,
       ('zychto01', 3901884), ('zychto01', 3901886), ('zychto01', 3901890)], dtype=object)

In [54]:
roll_means = roll_means.reset_index()
roll_means.head()

     pitcher  level_1  start_speed
0  aardsda01        0          NaN
1  aardsda01        1          NaN
2  aardsda01        3          NaN
3  aardsda01        5          NaN
4  aardsda01        6        91.88

In [55]:
roll_means = roll_means.drop("pitcher", axis = 1)
roll_means.head()

   level_1  start_speed
0        0          NaN
1        1          NaN
2        3          NaN
3        5          NaN
4        6        91.88

In [56]:
roll_means.columns.values[1] = "rolling_start_speed"

In [57]:
roll_means

         level_1  rolling_start_speed
0              0                  NaN
1              1                  NaN
2              3                  NaN
3              5                  NaN
4              6                91.88
5              9                91.82
6             10                91.68
7             11                91.34
8             15                91.22
9             16                91.10
10            19                91.10
11            20                91.18
12            23                91.52
13            24                91.36
14            26                91.36
15            28                91.50
16            29                91.58
17            30                91.62
18            31                92.02
19            32                92.26
20            34                92.46
21            37                92.20
22            41                91.98
23            42                92.04
24            43                92.04
25            46                91.82
26            49                92.02
27            52                91.90
28            55                92.02
29            56                91.72
...          ...                  ...
1334963  3901841                93.86
1334964  3901842                93.76
1334965  3901846                93.50
1334966  3901848                93.48
1334967  3901849                93.80
1334968  3901850                93.62
1334969  3901852                93.64
1334970  3901853                93.94
1334971  3901855                93.74
1334972  3901856                93.58
1334973  3901857                93.64
1334974  3901858                93.60
1334975  3901859                93.44
1334976  3901860                93.60
1334977  3901862                93.64
1334978  3901863                93.72
1334979  3901866                93.12
1334980  3901867                93.02
1334981  3901870                92.60
1334982  3901871                92.58
1334983  3901874                92.38
1334984  3901875                92.56
1334985  3901876                92.08
1334986  3901877                91.86
1334987  3901879                92.10
1334988  3901880                91.94
1334989  3901881                91.76
1334990  3901884                92.18
1334991  3901886                92.48
1334992  3901890                92.04

[1334993 rows x 2 columns]

In [58]:
roll_means = roll_means.set_index("level_1")
roll_means.head()

         rolling_start_speed
level_1
0                        NaN
1                        NaN
3                        NaN
5                        NaN
6                      91.88

In [59]:
data = pd.concat([data,roll_means], axis = 1)
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,x,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score,rolling_start_speed
0,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,116.74,2317.690,50.0,3.1,-2.01600,S,NaN,5,5,NaN
1,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,124.46,2354.990,50.0,3.8,-2.06800,S,NaN,5,5,NaN
2,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,121.03,1636.480,50.0,6.3,-1.96900,S,NaN,5,5,NaN
3,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,184.55,2380.220,50.0,3.8,-2.44100,B,NaN,5,5,NaN
4,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,132.19,1034.360,50.0,7.0,-2.35200,S,NaN,5,5,NaN
5,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,140.77,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5,NaN
6,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,138.20,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5,91.88
7,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,99.57,2030.960,50.0,7.2,-1.86600,S,NaN,6,6,NaN
8,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,151.93,1380.710,50.0,7.1,-2.22200,B,NaN,6,6,NaN
9,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,151.07,2230.470,50.0,3.2,-2.05100,B,NaN,6,6,91.82
10,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,123.61,2444.710,50.0,3.5,-2.20500,B,NaN,6,6,91.68
11,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,139.91,2406.090,50.0,4.0,-2.10100,S,NaN,6,6,91.34
12,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,91.85,685.319,50.0,8.2,-2.10100,S,NaN,6,6,NaN
13,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,114.16,1060.460,50.0,7.8,-2.25100,B,NaN,6,6,NaN
14,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,124.46,608.565,50.0,8.5,-2.14900,B,NaN,6,6,NaN
15,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,78.97,2162.930,50.0,3.2,-1.94000,S,NaN,6,6,91.22
16,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,124.46,2347.160,50.0,4.9,-2.10000,B,NaN,6,6,91.10
17,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,95.28,740.228,50.0,7.6,-2.34800,S,NaN,6,6,NaN
18,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,93.56,544.459,50.0,8.3,-2.13500,B,NaN,6,6,NaN
19,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,97.85,2471.440,50.0,3.4,-1.93800,S,NaN,6,6,91.10
20,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,109.87,2530.770,50.0,3.2,-1.96700,S,NaN,6,6,91.18
21,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,98.71,1150.470,50.0,7.0,-2.15800,B,NaN,6,6,NaN
22,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,103.00,1741.590,50.0,7.5,-1.82200,B,NaN,6,6,NaN
23,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,105.58,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6,91.52
24,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,97.85,2194.290,50.0,3.8,-1.88400,S,NaN,1,1,91.36
25,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,131.33,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1,NaN
26,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,80.69,1740.270,50.0,4.2,-1.88200,S,NaN,1,1,91.36
27,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,53.22,268.917,50.0,8.7,-1.86400,B,NaN,1,1,NaN
28,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,165.67,1605.190,50.0,5.0,-2.14700,B,NaN,1,1,91.50
29,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,100.43,2160.170,50.0,3.8,-1.87500,S,NaN,1,1,91.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902180,2017-09-04,Citi Field,5,bottom,NaN,7,cecchga02,0,2,22.8896,...,65.67,71.723,50.0,8.5,-1.18323,X,Groundout,10,10,NaN
3902181,2017-09-04,Citi Field,5,bottom,NaN,8,montera01,0,0,23.4115,...,26.38,1366.960,50.0,5.8,-1.38595,B,NaN,10,10,NaN
3902182,2017-09-04,Citi Field,5,bottom,NaN,9,montera01,1,0,27.2535,...,119.49,1242.810,50.0,5.2,-1.66597,S,NaN,10,10,NaN
3902183,2017-09-04,Citi Field,5,bottom,NaN,10,montera01,1,1,21.0937,...,127.05,138.067,50.0,8.4,-1.69814,S,NaN,10,10,NaN
3902184,2017-09-04,Citi Field,5,bottom,NaN,11,montera01,1,2,24.2979,...,107.69,389.653,50.0,7.9,-1.56833,S,NaN,10,10,NaN
3902185,2017-09-04,Citi Field,5,bottom,NaN,12,montera01,1,2,27.1019,...,127.72,2031.100,50.0,4.2,-1.51372,S,NaN,10,10,NaN
3902186,2017-09-04,Citi Field,5,bottom,NaN,13,reyesjo01,0,0,26.5163,...,176.34,2021.990,50.0,6.1,-1.75387,B,NaN,10,10,NaN
3902187,2017-09-04,Citi Field,5,bottom,NaN,14,reyesjo01,1,0,27.5483,...,163.81,1945.100,50.0,7.9,-1.75156,B,NaN,10,10,NaN
3902188,2017-09-04,Citi Field,5,bottom,NaN,15,reyesjo01,2,0,25.5934,...,177.73,1445.600,50.0,5.0,-1.75100,B,NaN,10,10,NaN
3902189,2017-09-04,Citi Field,5,bottom,NaN,16,reyesjo01,3,0,23.7400,...,86.73,1125.450,50.0,5.3,-1.59396,B,NaN,10,10,NaN
3902190,2017-09-04,Citi Field,5,bottom,NaN,17,aokino01,0,0,26.7718,...,176.41,1932.870,50.0,4.5,-1.87963,B,NaN,10,10,NaN
3902191,2017-09-04,Citi Field,5,bottom,NaN,18,aokino01,1,0,27.0266,...,218.98,2125.100,50.0,4.0,-2.00321,B,NaN,10,10,NaN
3902192,2017-09-04,Citi Field,5,bottom,NaN,19,aokino01,2,0,21.5874,...,128.30,284.173,50.0,8.3,-1.83365,S,NaN,10,10,NaN
3902193,2017-09-04,Citi Field,5,bottom,NaN,20,aokino01,2,1,21.2271,...,97.77,433.378,50.0,8.2,-1.57730,B,NaN,10,10,NaN
3902194,2017-09-04,Citi Field,5,bottom,NaN,21,aokino01,3,1,23.0385,...,122.70,1416.690,50.0,5.7,-1.66372,S,NaN,10,10,NaN
3902195,2017-09-04,Citi Field,5,bottom,NaN,22,aokino01,3,2,23.7280,...,154.68,1757.490,50.0,5.2,-1.86074,S,NaN,10,10,NaN
3902196,2017-09-04,Citi Field,5,bottom,NaN,23,aokino01,3,2,19.9039,...,114.92,128.336,50.0,8.9,-1.84305,S,NaN,10,10,NaN
3902197,2017-09-04,Citi Field,6,bottom,NaN,24,cabreas01,0,0,23.6057,...,132.55,2115.400,50.0,6.7,-1.85887,S,NaN,10,10,NaN
3902198,2017-09-04,Citi Field,6,bottom,NaN,25,cabreas01,0,1,22.7608,...,102.21,427.823,50.0,8.1,-1.58343,X,Flyout,10,10,NaN
3902199,2017-09-04,Citi Field,6,bottom,NaN,26,smithdo02,0,0,26.1148,...,82.81,1830.300,50.0,5.8,-1.61207,B,NaN,10,10,NaN
3902200,2017-09-04,Citi Field,6,bottom,NaN,27,smithdo02,1,0,24.6481,...,80.05,1575.330,50.0,5.2,-1.62217,X,Groundout,10,10,NaN
3902201,2017-09-04,Citi Field,6,bottom,NaN,28,plaweke01,0,0,25.8502,...,186.57,2134.690,50.0,7.3,-1.79056,B,NaN,10,10,NaN
3902202,2017-09-04,Citi Field,6,bottom,NaN,29,plaweke01,1,0,20.6098,...,108.46,500.919,50.0,7.9,-1.66499,S,NaN,10,10,NaN
3902203,2017-09-04,Citi Field,6,bottom,NaN,30,plaweke01,1,1,23.9294,...,60.04,416.832,50.0,8.0,-1.49908,B,NaN,10,10,NaN
3902204,2017-09-04,Citi Field,6,bottom,NaN,31,plaweke01,2,1,21.0098,...,103.01,514.596,50.0,8.3,-1.51193,S,NaN,10,10,NaN
3902205,2017-09-04,Citi Field,6,bottom,NaN,32,plaweke01,2,2,22.9577,...,85.65,1007.020,50.0,6.1,-1.35697,B,NaN,10,10,NaN
3902206,2017-09-04,Citi Field,6,bottom,NaN,33,plaweke01,3,2,21.1522,...,116.16,162.377,50.0,8.9,-1.74291,X,Double,10,10,NaN
3902207,2017-09-04,Citi Field,6,bottom,NaN,34,nimmobr01,0,0,27.7159,...,183.54,2309.910,50.0,7.4,-1.75840,B,NaN,10,10,NaN
3902208,2017-09-04,Citi Field,6,bottom,NaN,35,nimmobr01,1,0,21.4264,...,132.52,482.511,50.0,8.0,-1.79977,X,Single,10,10,NaN
3902209,2017-09-04,Citi Field,6,bottom,NaN,36,lagarju01,0,0,27.0323,...,141.18,2132.350,50.0,5.5,-1.54967,X,Flyout,11,11,NaN

Ok, now we have the rolling means in the data dataframe but there are NaNs in the beginning of rolling means for each pitcher and between fastballs. So pad NaNs with the last value and change each beginning sequence for each pitcher back to NaN (because they will be padded with the previous pitcher's end rolling mean)

Padding the NaNs to the futureeee!

In [63]:
padded_roll_means = data["rolling_start_speed"].fillna(method = "ffill")
padded_roll_means

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6          91.88
7          91.88
8          91.88
9          91.82
10         91.68
11         91.34
12         91.34
13         91.34
14         91.34
15         91.22
16         91.10
17         91.10
18         91.10
19         91.10
20         91.18
21         91.18
22         91.18
23         91.52
24         91.36
25         91.36
26         91.36
27         91.36
28         91.50
29         91.58
           ...
3902180    92.04
3902181    92.04
3902182    92.04
3902183    92.04
3902184    92.04
3902185    92.04
3902186    92.04
3902187    92.04
3902188    92.04
3902189    92.04
3902190    92.04
3902191    92.04
3902192    92.04
3902193    92.04
3902194    92.04
3902195    92.04
3902196    92.04
3902197    92.04
3902198    92.04
3902199    92.04
3902200    92.04
3902201    92.04
3902202    92.04
3902203    92.04
3902204    92.04
3902205    92.04
3902206    92.04
3902207    92.04
3902208    92.04
3902209    92.04
Name: rolling_start_speed, Length: 3902210, dtype: float64

In [82]:
nan_roll_means.values.reshape(1,-1)[0]

array([      0,       1,       2, ..., 1334677, 1334678, 1334679])

In [78]:
len(nan_roll_means.values)

5215

In [84]:
padded_roll_means[nan_roll_means.values.reshape(1,-1)[0]]

0            NaN
1            NaN
2            NaN
3            NaN
764        91.78
765        91.88
766        91.64
767        91.64
2051       94.84
2052       94.84
2053       94.84
2054       94.78
2887       92.18
2888       92.18
2889       92.18
2890       92.18
3268       93.06
3269       93.06
3270       93.06
3271       93.06
3529       86.84
3530       86.84
3531       86.84
3532       86.84
4168       90.08
4169       90.08
4170       90.08
4171       90.08
4221       89.74
4222       89.74
           ...
1324832    90.78
1324833    90.68
1324925    90.06
1324926    90.06
1324927    90.06
1324928    90.06
1325290    90.32
1325291    90.32
1325292    90.56
1325293    90.50
1325608    86.36
1325609    86.36
1325610    86.36
1325611    86.36
1325866    90.48
1325867    90.48
1325868    90.00
1325869    90.00
1326240    96.86
1326241    97.38
1326242    97.38
1326243    97.38
1326247    97.64
1326248    97.64
1326249    97.64
1326250    97.64
1334676    91.10
1334677    91.10
1334678    91.10
1334679    91.48
Name: rolling_start_speed, Length: 5215, dtype: float64

In [85]:
padded_roll_means[nan_roll_means.values.reshape(1,-1)[0]] = np.nan
padded_roll_means[nan_roll_means.values.reshape(1,-1)[0]]

0         NaN
1         NaN
2         NaN
3         NaN
764       NaN
765       NaN
766       NaN
767       NaN
2051      NaN
2052      NaN
2053      NaN
2054      NaN
2887      NaN
2888      NaN
2889      NaN
2890      NaN
3268      NaN
3269      NaN
3270      NaN
3271      NaN
3529      NaN
3530      NaN
3531      NaN
3532      NaN
4168      NaN
4169      NaN
4170      NaN
4171      NaN
4221      NaN
4222      NaN
           ..
1324832   NaN
1324833   NaN
1324925   NaN
1324926   NaN
1324927   NaN
1324928   NaN
1325290   NaN
1325291   NaN
1325292   NaN
1325293   NaN
1325608   NaN
1325609   NaN
1325610   NaN
1325611   NaN
1325866   NaN
1325867   NaN
1325868   NaN
1325869   NaN
1326240   NaN
1326241   NaN
1326242   NaN
1326243   NaN
1326247   NaN
1326248   NaN
1326249   NaN
1326250   NaN
1334676   NaN
1334677   NaN
1334678   NaN
1334679   NaN
Name: rolling_start_speed, Length: 5215, dtype: float64

So changed the starting sequence of fastballs back to NaN

Replacing rolling means with the padded ones:

In [115]:
data["rolling_start_speed"] = padded_roll_means
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,x,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score,rolling_start_speed
0,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,116.74,2317.690,50.0,3.1,-2.01600,S,NaN,5,5,NaN
1,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,124.46,2354.990,50.0,3.8,-2.06800,S,NaN,5,5,NaN
2,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,121.03,1636.480,50.0,6.3,-1.96900,S,NaN,5,5,NaN
3,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,184.55,2380.220,50.0,3.8,-2.44100,B,NaN,5,5,NaN
4,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,132.19,1034.360,50.0,7.0,-2.35200,S,NaN,5,5,NaN
5,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,140.77,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5,NaN
6,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,138.20,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5,91.88
7,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,99.57,2030.960,50.0,7.2,-1.86600,S,NaN,6,6,91.88
8,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,151.93,1380.710,50.0,7.1,-2.22200,B,NaN,6,6,91.88
9,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,151.07,2230.470,50.0,3.2,-2.05100,B,NaN,6,6,91.82
10,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,123.61,2444.710,50.0,3.5,-2.20500,B,NaN,6,6,91.68
11,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,139.91,2406.090,50.0,4.0,-2.10100,S,NaN,6,6,91.34
12,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,91.85,685.319,50.0,8.2,-2.10100,S,NaN,6,6,91.34
13,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,114.16,1060.460,50.0,7.8,-2.25100,B,NaN,6,6,91.34
14,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,124.46,608.565,50.0,8.5,-2.14900,B,NaN,6,6,91.34
15,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,78.97,2162.930,50.0,3.2,-1.94000,S,NaN,6,6,91.22
16,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,124.46,2347.160,50.0,4.9,-2.10000,B,NaN,6,6,91.10
17,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,95.28,740.228,50.0,7.6,-2.34800,S,NaN,6,6,91.10
18,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,93.56,544.459,50.0,8.3,-2.13500,B,NaN,6,6,91.10
19,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,97.85,2471.440,50.0,3.4,-1.93800,S,NaN,6,6,91.10
20,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,109.87,2530.770,50.0,3.2,-1.96700,S,NaN,6,6,91.18
21,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,98.71,1150.470,50.0,7.0,-2.15800,B,NaN,6,6,91.18
22,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,103.00,1741.590,50.0,7.5,-1.82200,B,NaN,6,6,91.18
23,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,105.58,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6,91.52
24,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,97.85,2194.290,50.0,3.8,-1.88400,S,NaN,1,1,91.36
25,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,131.33,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1,91.36
26,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,80.69,1740.270,50.0,4.2,-1.88200,S,NaN,1,1,91.36
27,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,53.22,268.917,50.0,8.7,-1.86400,B,NaN,1,1,91.36
28,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,165.67,1605.190,50.0,5.0,-2.14700,B,NaN,1,1,91.50
29,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,100.43,2160.170,50.0,3.8,-1.87500,S,NaN,1,1,91.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902180,2017-09-04,Citi Field,5,bottom,nan,7,cecchga02,0,2,22.8896,...,65.67,71.723,50.0,8.5,-1.18323,X,Groundout,10,10,92.04
3902181,2017-09-04,Citi Field,5,bottom,nan,8,montera01,0,0,23.4115,...,26.38,1366.960,50.0,5.8,-1.38595,B,NaN,10,10,92.04
3902182,2017-09-04,Citi Field,5,bottom,nan,9,montera01,1,0,27.2535,...,119.49,1242.810,50.0,5.2,-1.66597,S,NaN,10,10,92.04
3902183,2017-09-04,Citi Field,5,bottom,nan,10,montera01,1,1,21.0937,...,127.05,138.067,50.0,8.4,-1.69814,S,NaN,10,10,92.04
3902184,2017-09-04,Citi Field,5,bottom,nan,11,montera01,1,2,24.2979,...,107.69,389.653,50.0,7.9,-1.56833,S,NaN,10,10,92.04
3902185,2017-09-04,Citi Field,5,bottom,nan,12,montera01,1,2,27.1019,...,127.72,2031.100,50.0,4.2,-1.51372,S,NaN,10,10,92.04
3902186,2017-09-04,Citi Field,5,bottom,nan,13,reyesjo01,0,0,26.5163,...,176.34,2021.990,50.0,6.1,-1.75387,B,NaN,10,10,92.04
3902187,2017-09-04,Citi Field,5,bottom,nan,14,reyesjo01,1,0,27.5483,...,163.81,1945.100,50.0,7.9,-1.75156,B,NaN,10,10,92.04
3902188,2017-09-04,Citi Field,5,bottom,nan,15,reyesjo01,2,0,25.5934,...,177.73,1445.600,50.0,5.0,-1.75100,B,NaN,10,10,92.04
3902189,2017-09-04,Citi Field,5,bottom,nan,16,reyesjo01,3,0,23.7400,...,86.73,1125.450,50.0,5.3,-1.59396,B,NaN,10,10,92.04
3902190,2017-09-04,Citi Field,5,bottom,nan,17,aokino01,0,0,26.7718,...,176.41,1932.870,50.0,4.5,-1.87963,B,NaN,10,10,92.04
3902191,2017-09-04,Citi Field,5,bottom,nan,18,aokino01,1,0,27.0266,...,218.98,2125.100,50.0,4.0,-2.00321,B,NaN,10,10,92.04
3902192,2017-09-04,Citi Field,5,bottom,nan,19,aokino01,2,0,21.5874,...,128.30,284.173,50.0,8.3,-1.83365,S,NaN,10,10,92.04
3902193,2017-09-04,Citi Field,5,bottom,nan,20,aokino01,2,1,21.2271,...,97.77,433.378,50.0,8.2,-1.57730,B,NaN,10,10,92.04
3902194,2017-09-04,Citi Field,5,bottom,nan,21,aokino01,3,1,23.0385,...,122.70,1416.690,50.0,5.7,-1.66372,S,NaN,10,10,92.04
3902195,2017-09-04,Citi Field,5,bottom,nan,22,aokino01,3,2,23.7280,...,154.68,1757.490,50.0,5.2,-1.86074,S,NaN,10,10,92.04
3902196,2017-09-04,Citi Field,5,bottom,nan,23,aokino01,3,2,19.9039,...,114.92,128.336,50.0,8.9,-1.84305,S,NaN,10,10,92.04
3902197,2017-09-04,Citi Field,6,bottom,nan,24,cabreas01,0,0,23.6057,...,132.55,2115.400,50.0,6.7,-1.85887,S,NaN,10,10,92.04
3902198,2017-09-04,Citi Field,6,bottom,nan,25,cabreas01,0,1,22.7608,...,102.21,427.823,50.0,8.1,-1.58343,X,Flyout,10,10,92.04
3902199,2017-09-04,Citi Field,6,bottom,nan,26,smithdo02,0,0,26.1148,...,82.81,1830.300,50.0,5.8,-1.61207,B,NaN,10,10,92.04
3902200,2017-09-04,Citi Field,6,bottom,nan,27,smithdo02,1,0,24.6481,...,80.05,1575.330,50.0,5.2,-1.62217,X,Groundout,10,10,92.04
3902201,2017-09-04,Citi Field,6,bottom,nan,28,plaweke01,0,0,25.8502,...,186.57,2134.690,50.0,7.3,-1.79056,B,NaN,10,10,92.04
3902202,2017-09-04,Citi Field,6,bottom,nan,29,plaweke01,1,0,20.6098,...,108.46,500.919,50.0,7.9,-1.66499,S,NaN,10,10,92.04
3902203,2017-09-04,Citi Field,6,bottom,nan,30,plaweke01,1,1,23.9294,...,60.04,416.832,50.0,8.0,-1.49908,B,NaN,10,10,92.04
3902204,2017-09-04,Citi Field,6,bottom,nan,31,plaweke01,2,1,21.0098,...,103.01,514.596,50.0,8.3,-1.51193,S,NaN,10,10,92.04
3902205,2017-09-04,Citi Field,6,bottom,nan,32,plaweke01,2,2,22.9577,...,85.65,1007.020,50.0,6.1,-1.35697,B,NaN,10,10,92.04
3902206,2017-09-04,Citi Field,6,bottom,nan,33,plaweke01,3,2,21.1522,...,116.16,162.377,50.0,8.9,-1.74291,X,Double,10,10,92.04
3902207,2017-09-04,Citi Field,6,bottom,nan,34,nimmobr01,0,0,27.7159,...,183.54,2309.910,50.0,7.4,-1.75840,B,NaN,10,10,92.04
3902208,2017-09-04,Citi Field,6,bottom,nan,35,nimmobr01,1,0,21.4264,...,132.52,482.511,50.0,8.0,-1.79977,X,Single,10,10,92.04
3902209,2017-09-04,Citi Field,6,bottom,nan,36,lagarju01,0,0,27.0323,...,141.18,2132.350,50.0,5.5,-1.54967,X,Flyout,11,11,92.04

### Deleting rows with no pitchers

In [116]:
data["pitcher"].values

array(['aardsda01', 'aardsda01', 'aardsda01', ..., 'nan', 'nan', 'nan'], dtype=object)

In [117]:
data["pitcher"].values[-1]

'nan'

In [118]:
type(data["pitcher"].values[-1])

str

In [119]:
import math

In [120]:
math.isnan(data["pitcher"].values[-1])

TypeError: must be real number, not str

In [121]:
data["pitcher"] = data["pitcher"].astype("str")
data["pitcher"]

0          aardsda01
1          aardsda01
2          aardsda01
3          aardsda01
4          aardsda01
5          aardsda01
6          aardsda01
7          aardsda01
8          aardsda01
9          aardsda01
10         aardsda01
11         aardsda01
12         aardsda01
13         aardsda01
14         aardsda01
15         aardsda01
16         aardsda01
17         aardsda01
18         aardsda01
19         aardsda01
20         aardsda01
21         aardsda01
22         aardsda01
23         aardsda01
24         aardsda01
25         aardsda01
26         aardsda01
27         aardsda01
28         aardsda01
29         aardsda01
             ...
3902180          nan
3902181          nan
3902182          nan
3902183          nan
3902184          nan
3902185          nan
3902186          nan
3902187          nan
3902188          nan
3902189          nan
3902190          nan
3902191          nan
3902192          nan
3902193          nan
3902194          nan
3902195          nan
3902196          nan
3902197          nan
3902198          nan
3902199          nan
3902200          nan
3902201          nan
3902202          nan
3902203          nan
3902204          nan
3902205          nan
3902206          nan
3902207          nan
3902208          nan
3902209          nan
Name: pitcher, Length: 3902210, dtype: object

In [122]:
nan_pitchers = pd.DataFrame(np.argwhere(data["pitcher"] == "nan")).values
nan_pitchers = nan_pitchers.reshape(1,-1)[0]
nan_pitchers

array([3901897, 3901898, 3901899, 3901900, 3901901, 3901902, 3901903,
       3901904, 3901905, 3901906, 3901907, 3901908, 3901909, 3901910,
       3901911, 3901912, 3901913, 3901914, 3901915, 3901916, 3901917,
       3901918, 3901919, 3901920, 3901921, 3901922, 3901923, 3901924,
       3901925, 3901926, 3901927, 3901928, 3901929, 3901930, 3901931,
       3901932, 3901933, 3901934, 3901935, 3901936, 3901937, 3901938,
       3901939, 3901940, 3901941, 3901942, 3901943, 3901944, 3901945,
       3901946, 3901947, 3901948, 3901949, 3901950, 3901951, 3901952,
       3901953, 3901954, 3901955, 3901956, 3901957, 3901958, 3901959,
       3901960, 3901961, 3901962, 3901963, 3901964, 3901965, 3901966,
       3901967, 3901968, 3901969, 3901970, 3901971, 3901972, 3901973,
       3901974, 3901975, 3901976, 3901977, 3901978, 3901979, 3901980,
       3901981, 3901982, 3901983, 3901984, 3901985, 3901986, 3901987,
       3901988, 3901989, 3901990, 3901991, 3901992, 3901993, 3901994,
       3901995, 3901996, 3901997, 3901998, 3901999, 3902000, 3902001,
       3902002, 3902003, 3902004, 3902005, 3902006, 3902007, 3902008,
       3902009, 3902010, 3902011, 3902012, 3902013, 3902014, 3902015,
       3902016, 3902017, 3902018, 3902019, 3902020, 3902021, 3902022,
       3902023, 3902024, 3902025, 3902026, 3902027, 3902028, 3902029,
       3902030, 3902031, 3902032, 3902033, 3902034, 3902035, 3902036,
       3902037, 3902038, 3902039, 3902040, 3902041, 3902042, 3902043,
       3902044, 3902045, 3902046, 3902047, 3902048, 3902049, 3902050,
       3902051, 3902052, 3902053, 3902054, 3902055, 3902056, 3902057,
       3902058, 3902059, 3902060, 3902061, 3902062, 3902063, 3902064,
       3902065, 3902066, 3902067, 3902068, 3902069, 3902070, 3902071,
       3902072, 3902073, 3902074, 3902075, 3902076, 3902077, 3902078,
       3902079, 3902080, 3902081, 3902082, 3902083, 3902084, 3902085,
       3902086, 3902087, 3902088, 3902089, 3902090, 3902091, 3902092,
       3902093, 3902094, 3902095, 3902096, 3902097, 3902098, 3902099,
       3902100, 3902101, 3902102, 3902103, 3902104, 3902105, 3902106,
       3902107, 3902108, 3902109, 3902110, 3902111, 3902112, 3902113,
       3902114, 3902115, 3902116, 3902117, 3902118, 3902119, 3902120,
       3902121, 3902122, 3902123, 3902124, 3902125, 3902126, 3902127,
       3902128, 3902129, 3902130, 3902131, 3902132, 3902133, 3902134,
       3902135, 3902136, 3902137, 3902138, 3902139, 3902140, 3902141,
       3902142, 3902143, 3902144, 3902145, 3902146, 3902147, 3902148,
       3902149, 3902150, 3902151, 3902152, 3902153, 3902154, 3902155,
       3902156, 3902157, 3902158, 3902159, 3902160, 3902161, 3902162,
       3902163, 3902164, 3902165, 3902166, 3902167, 3902168, 3902169,
       3902170, 3902171, 3902172, 3902173, 3902174, 3902175, 3902176,
       3902177, 3902178, 3902179, 3902180, 3902181, 3902182, 3902183,
       3902184, 3902185, 3902186, 3902187, 3902188, 3902189, 3902190,
       3902191, 3902192, 3902193, 3902194, 3902195, 3902196, 3902197,
       3902198, 3902199, 3902200, 3902201, 3902202, 3902203, 3902204,
       3902205, 3902206, 3902207, 3902208, 3902209])

In [124]:
data = data.drop(nan_pitchers)
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,x,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score,rolling_start_speed
0,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,116.74,2317.690,50.0,3.1,-2.01600,S,NaN,5,5,NaN
1,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,124.46,2354.990,50.0,3.8,-2.06800,S,NaN,5,5,NaN
2,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,121.03,1636.480,50.0,6.3,-1.96900,S,NaN,5,5,NaN
3,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,184.55,2380.220,50.0,3.8,-2.44100,B,NaN,5,5,NaN
4,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,132.19,1034.360,50.0,7.0,-2.35200,S,NaN,5,5,NaN
5,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,140.77,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5,NaN
6,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,138.20,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5,91.88
7,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,99.57,2030.960,50.0,7.2,-1.86600,S,NaN,6,6,91.88
8,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,151.93,1380.710,50.0,7.1,-2.22200,B,NaN,6,6,91.88
9,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,151.07,2230.470,50.0,3.2,-2.05100,B,NaN,6,6,91.82
10,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,123.61,2444.710,50.0,3.5,-2.20500,B,NaN,6,6,91.68
11,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,139.91,2406.090,50.0,4.0,-2.10100,S,NaN,6,6,91.34
12,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,91.85,685.319,50.0,8.2,-2.10100,S,NaN,6,6,91.34
13,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,114.16,1060.460,50.0,7.8,-2.25100,B,NaN,6,6,91.34
14,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,124.46,608.565,50.0,8.5,-2.14900,B,NaN,6,6,91.34
15,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,78.97,2162.930,50.0,3.2,-1.94000,S,NaN,6,6,91.22
16,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,124.46,2347.160,50.0,4.9,-2.10000,B,NaN,6,6,91.10
17,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,95.28,740.228,50.0,7.6,-2.34800,S,NaN,6,6,91.10
18,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,93.56,544.459,50.0,8.3,-2.13500,B,NaN,6,6,91.10
19,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,97.85,2471.440,50.0,3.4,-1.93800,S,NaN,6,6,91.10
20,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,109.87,2530.770,50.0,3.2,-1.96700,S,NaN,6,6,91.18
21,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,98.71,1150.470,50.0,7.0,-2.15800,B,NaN,6,6,91.18
22,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,103.00,1741.590,50.0,7.5,-1.82200,B,NaN,6,6,91.18
23,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,105.58,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6,91.52
24,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,97.85,2194.290,50.0,3.8,-1.88400,S,NaN,1,1,91.36
25,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,131.33,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1,91.36
26,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,80.69,1740.270,50.0,4.2,-1.88200,S,NaN,1,1,91.36
27,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,53.22,268.917,50.0,8.7,-1.86400,B,NaN,1,1,91.36
28,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,165.67,1605.190,50.0,5.0,-2.14700,B,NaN,1,1,91.50
29,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,100.43,2160.170,50.0,3.8,-1.87500,S,NaN,1,1,91.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901867,2017-08-12,Safeco Field,8,top,zychto01,20,croncj01,1,1,32.0048,...,130.81,2468.150,50.0,5.2,-1.83467,S,NaN,6,6,93.02
3901868,2017-08-12,Safeco Field,8,top,zychto01,21,croncj01,1,2,24.2034,...,72.65,1370.060,50.0,9.0,-2.28117,S,NaN,6,6,93.02
3901869,2017-08-12,Safeco Field,8,top,zychto01,22,valbulu01,0,0,29.9337,...,159.55,2298.200,50.0,5.9,-1.87492,B,NaN,6,6,93.02
3901870,2017-08-12,Safeco Field,8,top,zychto01,23,valbulu01,1,0,29.9059,...,139.05,2216.960,50.0,5.3,-1.90724,S,NaN,6,6,92.60
3901871,2017-08-12,Safeco Field,8,top,zychto01,24,valbulu01,1,1,30.8269,...,140.48,2430.140,50.0,4.7,-1.92485,S,NaN,6,6,92.58
3901872,2017-08-12,Safeco Field,8,top,zychto01,25,valbulu01,1,2,30.4200,...,142.84,2403.420,50.0,6.0,-2.08091,S,NaN,6,6,92.58
3901873,2017-08-12,Safeco Field,8,top,zychto01,26,valbulu01,1,2,24.6379,...,60.67,1546.850,50.0,8.5,-2.31179,S,NaN,6,6,92.58
3901874,2017-08-16,Safeco Field,5,top,zychto01,1,schoojo01,0,0,28.5258,...,188.67,2357.110,50.0,4.9,-1.94487,B,NaN,4,4,92.38
3901875,2017-08-16,Safeco Field,5,top,zychto01,2,schoojo01,1,0,27.3060,...,135.87,2610.860,50.0,4.0,-1.86157,B,NaN,4,4,92.56
3901876,2017-08-16,Safeco Field,5,top,zychto01,3,schoojo01,2,0,28.2406,...,154.23,2513.880,50.0,4.4,-1.91272,S,NaN,4,4,92.08
3901877,2017-08-16,Safeco Field,5,top,zychto01,4,schoojo01,2,1,28.0467,...,142.07,2807.420,50.0,4.6,-1.78160,S,NaN,4,4,91.86
3901878,2017-08-16,Safeco Field,5,top,zychto01,5,schoojo01,2,2,23.1577,...,135.06,2007.540,50.0,9.3,-2.55581,X,Forceout,4,4,91.86
3901879,2017-08-16,Safeco Field,5,top,zychto01,6,mancitr01,0,0,29.6930,...,139.30,2665.310,50.0,4.9,-1.75959,X,Forceout,4,4,92.10
3901880,2017-08-16,Safeco Field,6,top,zychto01,7,trumbma01,0,0,25.9535,...,127.14,2199.220,50.0,5.5,-1.86802,S,NaN,4,4,91.94
3901881,2017-08-16,Safeco Field,6,top,zychto01,8,trumbma01,0,1,25.9171,...,173.64,2052.910,50.0,5.6,-2.03458,B,NaN,4,4,91.76
3901882,2017-08-16,Safeco Field,6,top,zychto01,9,trumbma01,1,1,20.3883,...,108.17,1759.360,50.0,9.7,-2.29156,S,NaN,4,4,91.76
3901883,2017-08-16,Safeco Field,6,top,zychto01,10,trumbma01,1,2,23.7676,...,55.53,1776.520,50.0,8.0,-2.24125,B,NaN,4,4,91.76
3901884,2017-08-16,Safeco Field,6,top,zychto01,11,trumbma01,2,2,26.9508,...,105.70,2600.180,50.0,5.3,-1.78476,X,Single,4,4,92.18
3901885,2017-08-16,Safeco Field,6,top,zychto01,12,davisch02,0,0,27.6761,...,146.71,2188.850,50.0,5.7,-1.78066,X,Forceout,4,4,92.18
3901886,2017-08-16,Safeco Field,6,top,zychto01,13,rickajo01,0,0,29.2696,...,169.22,2439.390,50.0,4.7,-1.86240,X,Groundout,4,4,92.48
3901887,2017-08-16,Safeco Field,6,top,zychto01,14,josepca01,0,0,25.1199,...,87.38,1524.880,50.0,8.3,-2.31306,B,NaN,4,4,92.48
3901888,2017-08-16,Safeco Field,6,top,zychto01,15,josepca01,1,0,28.9282,...,126.01,2739.710,50.0,5.9,-1.83605,S,NaN,4,4,92.48
3901889,2017-08-16,Safeco Field,6,top,zychto01,16,josepca01,1,1,27.3666,...,129.79,2545.860,50.0,5.8,-1.85173,X,Lineout,4,4,92.48
3901890,2017-08-16,Safeco Field,7,top,zychto01,17,gentrcr01,0,0,26.9007,...,111.05,2249.030,50.0,5.0,-1.76901,X,Single,4,4,92.04
3901891,2017-08-19,Tropicana Field,7,bottom,zychto01,1,souzast01,0,0,29.9233,...,182.74,2154.580,50.0,6.2,-1.66186,B,NaN,5,5,92.04
3901892,2017-08-19,Tropicana Field,7,bottom,zychto01,2,souzast01,1,0,28.8517,...,106.79,2341.010,50.0,7.4,-1.34474,S,NaN,5,5,92.04
3901893,2017-08-19,Tropicana Field,7,bottom,zychto01,3,souzast01,1,1,30.0151,...,151.01,2054.910,50.0,6.7,-1.54302,B,NaN,5,5,92.04
3901894,2017-08-19,Tropicana Field,7,bottom,zychto01,4,souzast01,2,1,21.8764,...,92.88,1685.990,50.0,10.8,-1.94226,S,NaN,5,5,92.04
3901895,2017-08-19,Tropicana Field,7,bottom,zychto01,5,souzast01,2,2,23.5973,...,45.77,1772.360,50.0,10.4,-1.94115,B,NaN,5,5,92.04
3901896,2017-08-19,Tropicana Field,7,bottom,zychto01,6,souzast01,3,2,22.7116,...,110.70,1383.780,50.0,11.3,-2.14591,X,Flyout,5,5,92.04

### Adding 20 pitch rolling mean

In [125]:
data.shape

(3901897, 44)

In [126]:
long_roll_means = data.loc[data['pitch_type'] == "FF"]\
                    .groupby('pitcher')['start_speed']\
                    .rolling(20).mean()

nan_longroll_means = pd.DataFrame(np.argwhere(np.isnan(long_roll_means.values)))

long_roll_means = pd.DataFrame(long_roll_means)
long_roll_means = long_roll_means.reset_index()
long_roll_means = long_roll_means.drop("pitcher", axis = 1)
long_roll_means.columns.values[1] = "long_rolling_start_speed"
long_roll_means = long_roll_means.set_index("level_1")



data = pd.concat([data,long_roll_means], axis = 1)
padded_long_roll_means = data["long_rolling_start_speed"].fillna(method = "ffill")
padded_long_roll_means[nan_longroll_means.values.reshape(1,-1)[0]] = np.nan
data["long_rolling_start_speed"] = padded_long_roll_means
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score,rolling_start_speed,long_rolling_start_speed
0,2012-09-27,Rogers Centre,8,bottom,aardsda01,1,lindad01,0,0,30.0560,...,2317.690,50.0,3.1,-2.01600,S,NaN,5,5,NaN,NaN
1,2012-09-27,Rogers Centre,8,bottom,aardsda01,2,lindad01,0,1,32.0220,...,2354.990,50.0,3.8,-2.06800,S,NaN,5,5,NaN,NaN
2,2012-09-27,Rogers Centre,8,bottom,aardsda01,3,lindad01,0,2,28.0490,...,1636.480,50.0,6.3,-1.96900,S,NaN,5,5,NaN,NaN
3,2012-09-27,Rogers Centre,8,bottom,aardsda01,4,lindad01,0,2,30.4990,...,2380.220,50.0,3.8,-2.44100,B,NaN,5,5,NaN,NaN
4,2012-09-27,Rogers Centre,8,bottom,aardsda01,5,lindad01,1,2,25.1680,...,1034.360,50.0,7.0,-2.35200,S,NaN,5,5,NaN,NaN
5,2012-09-27,Rogers Centre,8,bottom,aardsda01,6,lindad01,1,2,30.3840,...,2491.110,50.0,4.2,-1.98200,X,Groundout,5,5,NaN,NaN
6,2012-09-27,Rogers Centre,8,bottom,aardsda01,7,arencjp01,0,0,30.1620,...,2269.490,50.0,3.4,-2.10000,X,Home Run,5,5,91.88,NaN
7,2012-09-27,Rogers Centre,8,bottom,aardsda01,8,johnske05,0,0,24.8640,...,2030.960,50.0,7.2,-1.86600,S,NaN,6,6,91.88,NaN
8,2012-09-27,Rogers Centre,8,bottom,aardsda01,9,johnske05,0,1,24.2140,...,1380.710,50.0,7.1,-2.22200,B,NaN,6,6,91.88,NaN
9,2012-09-27,Rogers Centre,8,bottom,aardsda01,10,johnske05,1,1,29.4320,...,2230.470,50.0,3.2,-2.05100,B,NaN,6,6,91.82,NaN
10,2012-09-27,Rogers Centre,8,bottom,aardsda01,11,johnske05,2,1,29.6510,...,2444.710,50.0,3.5,-2.20500,B,NaN,6,6,91.68,NaN
11,2012-09-27,Rogers Centre,8,bottom,aardsda01,12,johnske05,3,1,28.7580,...,2406.090,50.0,4.0,-2.10100,S,NaN,6,6,91.34,NaN
12,2012-09-27,Rogers Centre,8,bottom,aardsda01,13,johnske05,3,2,28.4430,...,685.319,50.0,8.2,-2.10100,S,NaN,6,6,91.34,NaN
13,2012-09-27,Rogers Centre,8,bottom,aardsda01,14,sierrmo01,0,0,20.9350,...,1060.460,50.0,7.8,-2.25100,B,NaN,6,6,91.34,NaN
14,2012-09-27,Rogers Centre,8,bottom,aardsda01,15,sierrmo01,1,0,33.2210,...,608.565,50.0,8.5,-2.14900,B,NaN,6,6,91.34,NaN
15,2012-09-27,Rogers Centre,8,bottom,aardsda01,16,sierrmo01,2,0,28.7250,...,2162.930,50.0,3.2,-1.94000,S,NaN,6,6,91.22,NaN
16,2012-09-27,Rogers Centre,8,bottom,aardsda01,17,sierrmo01,2,1,30.0130,...,2347.160,50.0,4.9,-2.10000,B,NaN,6,6,91.10,NaN
17,2012-09-27,Rogers Centre,8,bottom,aardsda01,18,sierrmo01,3,1,24.2070,...,740.228,50.0,7.6,-2.34800,S,NaN,6,6,91.10,NaN
18,2012-09-27,Rogers Centre,8,bottom,aardsda01,19,sierrmo01,3,2,23.9830,...,544.459,50.0,8.3,-2.13500,B,NaN,6,6,91.10,NaN
19,2012-09-27,Rogers Centre,8,bottom,aardsda01,20,gosean01,0,0,32.8940,...,2471.440,50.0,3.4,-1.93800,S,NaN,6,6,91.10,NaN
20,2012-09-27,Rogers Centre,8,bottom,aardsda01,21,gosean01,0,1,31.7440,...,2530.770,50.0,3.2,-1.96700,S,NaN,6,6,91.18,NaN
21,2012-09-27,Rogers Centre,8,bottom,aardsda01,22,gosean01,0,2,24.4800,...,1150.470,50.0,7.0,-2.15800,B,NaN,6,6,91.18,NaN
22,2012-09-27,Rogers Centre,8,bottom,aardsda01,23,gosean01,1,2,24.6990,...,1741.590,50.0,7.5,-1.82200,B,NaN,6,6,91.18,NaN
23,2012-09-27,Rogers Centre,8,bottom,aardsda01,24,gosean01,2,2,29.0020,...,2592.040,50.0,3.6,-2.10300,X,Forceout,6,6,91.52,NaN
24,2013-06-08,Citi Field,12,top,aardsda01,8,brantro01,0,0,29.9130,...,2194.290,50.0,3.8,-1.88400,S,NaN,1,1,91.36,NaN
25,2013-06-08,Citi Field,12,top,aardsda01,9,brantro01,0,1,25.2880,...,1000.340,50.0,7.7,-1.86600,X,Groundout,1,1,91.36,NaN
26,2013-06-08,Citi Field,12,top,aardsda01,10,hechaad01,0,0,34.0500,...,1740.270,50.0,4.2,-1.88200,S,NaN,1,1,91.36,NaN
27,2013-06-08,Citi Field,12,top,aardsda01,11,hechaad01,0,1,26.2350,...,268.917,50.0,8.7,-1.86400,B,NaN,1,1,91.36,NaN
28,2013-06-08,Citi Field,12,top,aardsda01,12,hechaad01,1,1,28.8190,...,1605.190,50.0,5.0,-2.14700,B,NaN,1,1,91.50,NaN
29,2013-06-08,Citi Field,12,top,aardsda01,13,hechaad01,2,1,27.6090,...,2160.170,50.0,3.8,-1.87500,S,NaN,1,1,91.58,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901867,2017-08-12,Safeco Field,8,top,zychto01,20,croncj01,1,1,32.0048,...,2468.150,50.0,5.2,-1.83467,S,NaN,6,6,93.02,93.475
3901868,2017-08-12,Safeco Field,8,top,zychto01,21,croncj01,1,2,24.2034,...,1370.060,50.0,9.0,-2.28117,S,NaN,6,6,93.02,93.475
3901869,2017-08-12,Safeco Field,8,top,zychto01,22,valbulu01,0,0,29.9337,...,2298.200,50.0,5.9,-1.87492,B,NaN,6,6,93.02,93.475
3901870,2017-08-12,Safeco Field,8,top,zychto01,23,valbulu01,1,0,29.9059,...,2216.960,50.0,5.3,-1.90724,S,NaN,6,6,92.60,93.355
3901871,2017-08-12,Safeco Field,8,top,zychto01,24,valbulu01,1,1,30.8269,...,2430.140,50.0,4.7,-1.92485,S,NaN,6,6,92.58,93.400
3901872,2017-08-12,Safeco Field,8,top,zychto01,25,valbulu01,1,2,30.4200,...,2403.420,50.0,6.0,-2.08091,S,NaN,6,6,92.58,93.400
3901873,2017-08-12,Safeco Field,8,top,zychto01,26,valbulu01,1,2,24.6379,...,1546.850,50.0,8.5,-2.31179,S,NaN,6,6,92.58,93.400
3901874,2017-08-16,Safeco Field,5,top,zychto01,1,schoojo01,0,0,28.5258,...,2357.110,50.0,4.9,-1.94487,B,NaN,4,4,92.38,93.340
3901875,2017-08-16,Safeco Field,5,top,zychto01,2,schoojo01,1,0,27.3060,...,2610.860,50.0,4.0,-1.86157,B,NaN,4,4,92.56,93.230
3901876,2017-08-16,Safeco Field,5,top,zychto01,3,schoojo01,2,0,28.2406,...,2513.880,50.0,4.4,-1.91272,S,NaN,4,4,92.08,93.120
3901877,2017-08-16,Safeco Field,5,top,zychto01,4,schoojo01,2,1,28.0467,...,2807.420,50.0,4.6,-1.78160,S,NaN,4,4,91.86,92.950
3901878,2017-08-16,Safeco Field,5,top,zychto01,5,schoojo01,2,2,23.1577,...,2007.540,50.0,9.3,-2.55581,X,Forceout,4,4,91.86,92.950
3901879,2017-08-16,Safeco Field,5,top,zychto01,6,mancitr01,0,0,29.6930,...,2665.310,50.0,4.9,-1.75959,X,Forceout,4,4,92.10,92.975
3901880,2017-08-16,Safeco Field,6,top,zychto01,7,trumbma01,0,0,25.9535,...,2199.220,50.0,5.5,-1.86802,S,NaN,4,4,91.94,92.920
3901881,2017-08-16,Safeco Field,6,top,zychto01,8,trumbma01,0,1,25.9171,...,2052.910,50.0,5.6,-2.03458,B,NaN,4,4,91.76,92.760
3901882,2017-08-16,Safeco Field,6,top,zychto01,9,trumbma01,1,1,20.3883,...,1759.360,50.0,9.7,-2.29156,S,NaN,4,4,91.76,92.760
3901883,2017-08-16,Safeco Field,6,top,zychto01,10,trumbma01,1,2,23.7676,...,1776.520,50.0,8.0,-2.24125,B,NaN,4,4,91.76,92.760
3901884,2017-08-16,Safeco Field,6,top,zychto01,11,trumbma01,2,2,26.9508,...,2600.180,50.0,5.3,-1.78476,X,Single,4,4,92.18,92.680
3901885,2017-08-16,Safeco Field,6,top,zychto01,12,davisch02,0,0,27.6761,...,2188.850,50.0,5.7,-1.78066,X,Forceout,4,4,92.18,92.680
3901886,2017-08-16,Safeco Field,6,top,zychto01,13,rickajo01,0,0,29.2696,...,2439.390,50.0,4.7,-1.86240,X,Groundout,4,4,92.48,92.635
3901887,2017-08-16,Safeco Field,6,top,zychto01,14,josepca01,0,0,25.1199,...,1524.880,50.0,8.3,-2.31306,B,NaN,4,4,92.48,92.635
3901888,2017-08-16,Safeco Field,6,top,zychto01,15,josepca01,1,0,28.9282,...,2739.710,50.0,5.9,-1.83605,S,NaN,4,4,92.48,92.635
3901889,2017-08-16,Safeco Field,6,top,zychto01,16,josepca01,1,1,27.3666,...,2545.860,50.0,5.8,-1.85173,X,Lineout,4,4,92.48,92.635
3901890,2017-08-16,Safeco Field,7,top,zychto01,17,gentrcr01,0,0,26.9007,...,2249.030,50.0,5.0,-1.76901,X,Single,4,4,92.04,92.590
3901891,2017-08-19,Tropicana Field,7,bottom,zychto01,1,souzast01,0,0,29.9233,...,2154.580,50.0,6.2,-1.66186,B,NaN,5,5,92.04,92.590
3901892,2017-08-19,Tropicana Field,7,bottom,zychto01,2,souzast01,1,0,28.8517,...,2341.010,50.0,7.4,-1.34474,S,NaN,5,5,92.04,92.590
3901893,2017-08-19,Tropicana Field,7,bottom,zychto01,3,souzast01,1,1,30.0151,...,2054.910,50.0,6.7,-1.54302,B,NaN,5,5,92.04,92.590
3901894,2017-08-19,Tropicana Field,7,bottom,zychto01,4,souzast01,2,1,21.8764,...,1685.990,50.0,10.8,-1.94226,S,NaN,5,5,92.04,92.590
3901895,2017-08-19,Tropicana Field,7,bottom,zychto01,5,souzast01,2,2,23.5973,...,1772.360,50.0,10.4,-1.94115,B,NaN,5,5,92.04,92.590
3901896,2017-08-19,Tropicana Field,7,bottom,zychto01,6,souzast01,3,2,22.7116,...,1383.780,50.0,11.3,-2.14591,X,Flyout,5,5,92.04,92.590

Check number of not nan rows in the long windowed rolling mean

In [132]:
len(np.argwhere(np.isnan(data["long_rolling_start_speed"])))

23779

In [127]:
data.shape

(3901897, 45)

### Deleting rows with NaN in long rolling mean column

In [138]:
np.argwhere(np.isnan(data["long_rolling_start_speed"])).reshape(1,-1)[0]

array([      0,       1,       2, ..., 1334692, 1334693, 1334694])

In [140]:
data = data.drop(np.argwhere(np.isnan(data["long_rolling_start_speed"])).reshape(1,-1)[0],
          axis = 0)
data

,date,stadium,inning,side,pitcher,pitch_count,batter,balls,strikes,ay,...,spin_rate,y0,break_length,x0,umpcall,outcome,offense_score,defense_score,rolling_start_speed,long_rolling_start_speed
32,2013-06-11,Citi Field,8,top,aardsda01,2,hollima01,1,0,31.2010,...,2147.440,50.0,3.8,-1.91800,S,NaN,8,8,92.26,91.650
33,2013-06-11,Citi Field,8,top,aardsda01,3,hollima01,1,1,24.1480,...,1491.970,50.0,7.0,-1.99000,B,NaN,8,8,92.26,91.650
34,2013-06-11,Citi Field,8,top,aardsda01,4,hollima01,2,1,30.9750,...,2210.710,50.0,3.7,-1.84500,S,NaN,8,8,92.46,91.720
35,2013-06-11,Citi Field,8,top,aardsda01,5,hollima01,2,2,21.1760,...,654.231,50.0,10.0,-2.17000,S,NaN,8,8,92.46,91.720
36,2013-06-11,Citi Field,8,top,aardsda01,6,hollima01,2,2,28.4940,...,268.940,50.0,8.8,-1.96500,S,NaN,8,8,92.46,91.720
37,2013-06-11,Citi Field,9,top,aardsda01,7,robinsh01,0,0,30.1930,...,2174.150,50.0,3.6,-1.94000,S,NaN,8,8,92.20,91.660
38,2013-06-11,Citi Field,9,top,aardsda01,8,robinsh01,0,1,24.3570,...,261.143,50.0,8.9,-2.00400,X,Home Run,8,8,92.20,91.660
39,2013-06-11,Citi Field,9,top,aardsda01,9,adamsma01,0,0,21.9440,...,303.990,50.0,8.2,-2.03100,S,NaN,9,9,92.20,91.660
40,2013-06-11,Citi Field,9,top,aardsda01,10,adamsma01,0,1,23.9760,...,1679.630,50.0,7.0,-1.79500,X,Groundout,9,9,92.20,91.660
41,2013-06-11,Citi Field,9,top,aardsda01,11,freesda01,0,0,34.6780,...,2406.010,50.0,3.7,-1.74300,S,NaN,9,9,91.98,91.615
42,2013-06-11,Citi Field,9,top,aardsda01,12,freesda01,0,1,31.9690,...,2341.560,50.0,3.6,-1.69700,S,NaN,9,9,92.04,91.660
43,2013-06-11,Citi Field,9,top,aardsda01,13,freesda01,0,2,30.2510,...,1699.570,50.0,4.1,-2.07100,B,NaN,9,9,92.04,91.690
44,2013-06-11,Citi Field,9,top,aardsda01,14,freesda01,1,2,23.5680,...,156.884,50.0,8.9,-2.10500,S,NaN,9,9,92.04,91.690
45,2013-06-11,Citi Field,9,top,aardsda01,15,freesda01,1,2,22.4030,...,712.619,50.0,7.1,-1.92500,S,NaN,9,9,92.04,91.690
46,2013-06-11,Citi Field,9,top,aardsda01,16,jayjo02,0,0,29.5910,...,2376.980,50.0,3.7,-1.85200,S,NaN,9,9,91.82,91.720
47,2013-06-11,Citi Field,9,top,aardsda01,17,jayjo02,0,1,22.6770,...,797.586,50.0,7.0,-1.79600,S,NaN,9,9,91.82,91.720
48,2013-06-11,Citi Field,9,top,aardsda01,18,jayjo02,0,2,24.6960,...,531.549,50.0,8.0,-2.01600,X,Groundout,9,9,91.82,91.720
49,2013-06-14,Citi Field,6,top,aardsda01,1,barneda01,0,0,31.3140,...,1977.050,50.0,3.4,-2.02900,S,NaN,6,6,92.02,91.745
50,2013-06-14,Citi Field,6,top,aardsda01,2,barneda01,0,1,22.0870,...,215.138,50.0,8.8,-1.94200,B,NaN,6,6,92.02,91.745
51,2013-06-14,Citi Field,6,top,aardsda01,3,barneda01,1,1,24.6820,...,218.558,50.0,8.9,-2.05800,X,Flyout,6,6,92.02,91.745
52,2013-06-14,Citi Field,7,top,aardsda01,4,borboju01,0,0,30.8080,...,2188.300,50.0,3.7,-1.95900,S,NaN,6,6,91.90,91.755
53,2013-06-14,Citi Field,7,top,aardsda01,5,borboju01,0,1,22.0040,...,1081.670,50.0,8.0,-1.85100,S,NaN,6,6,91.90,91.755
54,2013-06-14,Citi Field,7,top,aardsda01,6,borboju01,0,2,24.0700,...,1285.800,50.0,7.6,-1.98000,B,NaN,6,6,91.90,91.755
55,2013-06-14,Citi Field,7,top,aardsda01,7,borboju01,1,2,33.5570,...,2152.800,50.0,4.3,-1.87400,S,NaN,6,6,92.02,91.860
56,2013-06-14,Citi Field,7,top,aardsda01,8,sweenry01,0,0,27.9400,...,2649.620,50.0,3.7,-1.82900,S,NaN,6,6,91.72,91.845
57,2013-06-14,Citi Field,7,top,aardsda01,9,sweenry01,0,1,27.9190,...,2499.280,50.0,3.8,-1.94400,S,NaN,6,6,91.84,91.905
58,2013-06-14,Citi Field,7,top,aardsda01,10,sweenry01,0,2,32.2820,...,2068.780,50.0,4.2,-2.14900,S,NaN,6,6,92.08,91.970
59,2013-06-14,Citi Field,7,top,aardsda01,11,sweenry01,0,2,23.3170,...,1533.120,50.0,7.6,-1.87900,B,NaN,6,6,92.08,91.970
60,2013-06-14,Citi Field,7,top,aardsda01,12,sweenry01,1,2,30.2410,...,2276.450,50.0,3.7,-1.97600,B,NaN,6,6,92.50,92.000
61,2013-06-14,Citi Field,7,top,aardsda01,13,sweenry01,2,2,30.4730,...,2425.250,50.0,3.6,-1.99200,S,NaN,6,6,92.28,92.090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901867,2017-08-12,Safeco Field,8,top,zychto01,20,croncj01,1,1,32.0048,...,2468.150,50.0,5.2,-1.83467,S,NaN,6,6,93.02,93.475
3901868,2017-08-12,Safeco Field,8,top,zychto01,21,croncj01,1,2,24.2034,...,1370.060,50.0,9.0,-2.28117,S,NaN,6,6,93.02,93.475
3901869,2017-08-12,Safeco Field,8,top,zychto01,22,valbulu01,0,0,29.9337,...,2298.200,50.0,5.9,-1.87492,B,NaN,6,6,93.02,93.475
3901870,2017-08-12,Safeco Field,8,top,zychto01,23,valbulu01,1,0,29.9059,...,2216.960,50.0,5.3,-1.90724,S,NaN,6,6,92.60,93.355
3901871,2017-08-12,Safeco Field,8,top,zychto01,24,valbulu01,1,1,30.8269,...,2430.140,50.0,4.7,-1.92485,S,NaN,6,6,92.58,93.400
3901872,2017-08-12,Safeco Field,8,top,zychto01,25,valbulu01,1,2,30.4200,...,2403.420,50.0,6.0,-2.08091,S,NaN,6,6,92.58,93.400
3901873,2017-08-12,Safeco Field,8,top,zychto01,26,valbulu01,1,2,24.6379,...,1546.850,50.0,8.5,-2.31179,S,NaN,6,6,92.58,93.400
3901874,2017-08-16,Safeco Field,5,top,zychto01,1,schoojo01,0,0,28.5258,...,2357.110,50.0,4.9,-1.94487,B,NaN,4,4,92.38,93.340
3901875,2017-08-16,Safeco Field,5,top,zychto01,2,schoojo01,1,0,27.3060,...,2610.860,50.0,4.0,-1.86157,B,NaN,4,4,92.56,93.230
3901876,2017-08-16,Safeco Field,5,top,zychto01,3,schoojo01,2,0,28.2406,...,2513.880,50.0,4.4,-1.91272,S,NaN,4,4,92.08,93.120
3901877,2017-08-16,Safeco Field,5,top,zychto01,4,schoojo01,2,1,28.0467,...,2807.420,50.0,4.6,-1.78160,S,NaN,4,4,91.86,92.950
3901878,2017-08-16,Safeco Field,5,top,zychto01,5,schoojo01,2,2,23.1577,...,2007.540,50.0,9.3,-2.55581,X,Forceout,4,4,91.86,92.950
3901879,2017-08-16,Safeco Field,5,top,zychto01,6,mancitr01,0,0,29.6930,...,2665.310,50.0,4.9,-1.75959,X,Forceout,4,4,92.10,92.975
3901880,2017-08-16,Safeco Field,6,top,zychto01,7,trumbma01,0,0,25.9535,...,2199.220,50.0,5.5,-1.86802,S,NaN,4,4,91.94,92.920
3901881,2017-08-16,Safeco Field,6,top,zychto01,8,trumbma01,0,1,25.9171,...,2052.910,50.0,5.6,-2.03458,B,NaN,4,4,91.76,92.760
3901882,2017-08-16,Safeco Field,6,top,zychto01,9,trumbma01,1,1,20.3883,...,1759.360,50.0,9.7,-2.29156,S,NaN,4,4,91.76,92.760
3901883,2017-08-16,Safeco Field,6,top,zychto01,10,trumbma01,1,2,23.7676,...,1776.520,50.0,8.0,-2.24125,B,NaN,4,4,91.76,92.760
3901884,2017-08-16,Safeco Field,6,top,zychto01,11,trumbma01,2,2,26.9508,...,2600.180,50.0,5.3,-1.78476,X,Single,4,4,92.18,92.680
3901885,2017-08-16,Safeco Field,6,top,zychto01,12,davisch02,0,0,27.6761,...,2188.850,50.0,5.7,-1.78066,X,Forceout,4,4,92.18,92.680
3901886,2017-08-16,Safeco Field,6,top,zychto01,13,rickajo01,0,0,29.2696,...,2439.390,50.0,4.7,-1.86240,X,Groundout,4,4,92.48,92.635
3901887,2017-08-16,Safeco Field,6,top,zychto01,14,josepca01,0,0,25.1199,...,1524.880,50.0,8.3,-2.31306,B,NaN,4,4,92.48,92.635
3901888,2017-08-16,Safeco Field,6,top,zychto01,15,josepca01,1,0,28.9282,...,2739.710,50.0,5.9,-1.83605,S,NaN,4,4,92.48,92.635
3901889,2017-08-16,Safeco Field,6,top,zychto01,16,josepca01,1,1,27.3666,...,2545.860,50.0,5.8,-1.85173,X,Lineout,4,4,92.48,92.635
3901890,2017-08-16,Safeco Field,7,top,zychto01,17,gentrcr01,0,0,26.9007,...,2249.030,50.0,5.0,-1.76901,X,Single,4,4,92.04,92.590
3901891,2017-08-19,Tropicana Field,7,bottom,zychto01,1,souzast01,0,0,29.9233,...,2154.580,50.0,6.2,-1.66186,B,NaN,5,5,92.04,92.590
3901892,2017-08-19,Tropicana Field,7,bottom,zychto01,2,souzast01,1,0,28.8517,...,2341.010,50.0,7.4,-1.34474,S,NaN,5,5,92.04,92.590
3901893,2017-08-19,Tropicana Field,7,bottom,zychto01,3,souzast01,1,1,30.0151,...,2054.910,50.0,6.7,-1.54302,B,NaN,5,5,92.04,92.590
3901894,2017-08-19,Tropicana Field,7,bottom,zychto01,4,souzast01,2,1,21.8764,...,1685.990,50.0,10.8,-1.94226,S,NaN,5,5,92.04,92.590
3901895,2017-08-19,Tropicana Field,7,bottom,zychto01,5,souzast01,2,2,23.5973,...,1772.360,50.0,10.4,-1.94115,B,NaN,5,5,92.04,92.590
3901896,2017-08-19,Tropicana Field,7,bottom,zychto01,6,souzast01,3,2,22.7116,...,1383.780,50.0,11.3,-2.14591,X,Flyout,5,5,92.04,92.590

## 1. Target variable
We classify a pitch as good if it induces a swinging strike, a called strike, a foul, or if it generates a
ball in play that is converted to an out

In [ ]:
data.outcome.unique()

In [ ]:
data.umpcall.unique()

In [ ]:
data.descr.unique()

In [ ]:
#Using descr feature to define good pitch
g_outcomes=['Foul Tip','Swinging Strike','In play, out(s)', 'Called Strike', 'Foul','Foul (Runner Going)','Foul Bunt',
       'Swinging Strike (Blocked)', 'Missed Bunt' ]

#Using outcome feature to use more detailed descriptions (eg: lineout vs groundout). I think this approach is better
g_outcomes2=['Flyout', 'Fly Out','Groundout','Pop Out','Forceout','Double Play','Grounded into DP','Fielders Choice','Fielders Choice Out', 
             'Bunt Groundout','Bunt Pop Out','Sac Fly DP','Bunt Lineout','Foul']

In [ ]:
#Create target feature
data['y']=np.where((data['outcome'].isin(g_outcomes2)) | (data['umpcall']=='S'),1,0)
a=plt.hist(data['y'])

In [ ]:
data.y.unique(), data.y.isnull().any()

In [ ]:
data.columns

## 2. Divide in Train (2012-2106) and Test (2017)

In [ ]:
#Drop columns weÂ´re not going to use
data['year']=data['date'].str.slice(0,4)

features=['umpcall', 'outcome','start_speed','pfx_x','pfx_z','px','pz','break_y','break_angle','break_length','pitch_type',
         'spin_dir','nasty','pitch_count','descr','y','year','zone','strikes','balls','pitcher','pitch_type']
baseline_features=['start_speed','px','pz','year','y']

data=data[features]
data_base=data[baseline_features]

In [ ]:
#data_path = "MLB_" + year + "/MLB_PitchFX_" + year + "_RegularSeason.csv"
#year_data = pd.read_csv(filepath_or_buffer= folder_dir + data_path, header=0)
save_path=folder_dir+'data_clean.csv'
data.to_csv(save_path)

In [ ]:
#data = data.drop(['on_1b', 'on_2b', "on_3b"], axis = 1)
X_train=data_base[data_base['year']!='2017']
y_train=X_train['y']
X_train=X_train.drop(['y','year'],axis=1)

X_test=data_base[data_base['year']=='2017']
y_test=X_test['y']
X_test=X_test.drop(['y','year'],axis=1)

X_train.head()

In [ ]:
X_train.shape

## 3. Baseline with Logistic Regression

In [ ]:
poly = PolynomialFeatures(interaction_only=True, include_bias=False)
poly.fit_transform(X_train)
poly.fit_transform(X_test)

In [ ]:
X_train.shape, X_test.shape

In [ ]:
baseline=LogisticRegression()
baseline.fit(X_train,y_train)

In [ ]:
#print(list(zip(list(X_train.columns),list(baseline.coef_[0]))))
baseline.coef_

In [ ]:
probs=baseline.predict_proba(X_test)[:,1]
preds=baseline.predict(X_test)
baseline_loss=sklearn.metrics.log_loss(y_test,probs)
baseline_acc=sklearn.metrics.accuracy_score(y_test,preds)
majority_class=np.amax(y_test.value_counts(normalize=True))

print('%s: %0.2f, %s: %0.2f, %s: %0.2f '
      %('Baseline accuracy',baseline_acc,'Baseline log loss', baseline_loss,'Majority class',majority_class))